body{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.headerImg{
   background: url("../img/header.jpg") bottom no-repeat;
   background-size: cover;
   height: 400px;
   width: 100%;
   margin: 0;
   padding: 0;
   color: white;
   text-align: center;
   font-size: 50px;
} 

/*Top Navigation*/
.navbar-inverse .navbar-nav>li>a:focus, 
.navbar-inverse .navbar-nav>li>a:hover{
  background-color: #EEA200;
  color: #ffffff;
  padding: 24px 10px;
}
.navbar-brand{
  padding:20px 15px;
} 
.navbar-inverse .navbar-brand:hover{
  color: #EEA200;
}
.topNav{
	  transition: 0.4s;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.mdl-layout__header-row{
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar{
  height: 70px;
  padding-bottom: 0;
}
@media (min-width: 768px){
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

.navbar-inverse .navbar-nav>li>a {
    color: #9d9d9d;
    background-color: #222222;
    margin: 0;
    padding: 17px;
  }

  .navbar-inverse .navbar-toggle:hover{
    background-color: #EEA200;
  }
/*About Me Section*/

.card{
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px 
  rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  padding-bottom: 5px;
}
.meP{
  margin-top: 3%;
  color: #fff; 
}
.figurecaption{
  background: #fff;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.figure{
  width: 300px;
  height: 300px;

}
#aboutMe{
	padding: 4% 0 2% 4%;
	background-color: #757575;
  height: auto;
}
.page-section, .small-section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 140px 0;
}

.pImg{
	max-width: 100%;
}
.row{
  margin: 3% 0;
}

.containerP{
  padding-top: 80px;
  width: 70%;
  height: auto;
}
@media (min-width: 768px){
.about .col-sm-offset-1 {
    margin-left: 0;
  }
}
/*Portfolio*/

/* Photo Hover*/
.view {
  margin-top: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
}

.view .mask,
.view .content {
  width: 100%;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.view img {
  display: block;
  position: relative
}

.view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  font-family: Raleway, serif;
  padding: 10px;
  /*background: rgba(0, 0, 0, 0.8);*/
  margin: 20px 0 0 0
}

.view p {
  font-family: Merriweather, serif;
  font-style: italic;
  font-size: 14px;
  position: relative;
  color: #fff;
  padding: 0px 20px 0px;
  text-align: center
}

.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  font-family: Raleway, serif;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}

.view a.info:hover {
  box-shadow: 0 0 5px #000
}

.view-tenth img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
}

.view-tenth .mask {
  background-color: #fff;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  background: transparent;
  margin: 20px 40px 0px 40px;
  transform: scale(0);
  color: #333;
  transition: all 0.5s linear;
  opacity: 0;
}

.view-tenth p {
  color: #333;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
  padding-
}

.view-tenth a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s linear;
}

.view-tenth:hover img {
  -webkit-transform: scale(10);
  transform: scale(10);
  opacity: 0;
}

.view-tenth:hover .mask {
  opacity: 1;
}

.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info {
  transform: scale(1);
  opacity: 1;
}

/*Contact Me Section*/

.page-section{
  font-family:;
  padding-top:5%;
 
}

.contactMe{
  position: relative;
    overflow: hidden;
    padding: 0;
}
.contactSection h2, h4{
    position: relative;
    z-index: 2;
    color: #fff;
}
.contactSection img{
   position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.contactForm{
  width: 50%;
  background-color: rgba(0,0,0,.54);
  padding: 10px;
  text-align: center;
  margin:0 auto;
  clear: both;
  opacity: 0.9;
  z-index: 2;
  position: relative;
}
.contactForm .mdl-button{
  color: #fff;
}
.page-section,.contact{
  padding-top: 5%;
}
.contactForm{
  width: 60%;
}
@media screen and (max-width: 580px){
  .contactForm{
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 580px) and (max-width: 780px){
  .contactForm{
    width: 70%;
  }
}

/*Footer*/

.footer{
  height: 80px;
  background-color: rgba(0,0,0,.54);
  position: absolute !important;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0
}
.navbar-default{
  border:none;
}
@media (min-width: 768px){
.navbar {
    border-radius:0;
}
}
.fa {
  color: #fff;
  padding: 10px;
  margin: 0 10px;
}

.fa-facebook{
  background-color: #3b5998;
  border-radius: 50%;
  padding: 10px 16px 9px;
}

.fa-twitter{
background-color: #00aced;
border-radius: 50%;
padding: 10px 11px 9px;

}
.fa-google-plus{
  background-color: #d34836;
  border-radius: 50%;
  padding: 9px 11px;
}
.fa-linkedin{
  background-color: #0077B5;
  border-radius: 50%;
  padding: 10px 13px;
}

.footer a:hover{
  color: red;
}
.footerP{
  float: left;
  display: inline-block;
  color: #fff;
  position: relative;


}
.footerP p{
  margin-top: 16px;
}
@media (max-width: 500px){

    .footerP{
      display: none;
    }
}

#social{
 margin-right: 10%;
}








